In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\thoma\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\thoma\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thoma\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\thoma\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\thoma\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\thoma\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd

In [14]:
df = pd.read_excel("Cardiac_Outcomes.xlsx")

In [15]:
df

,inpatient_number,DestinationDischarge,admission_ward,admission_way,discharge_department,visit_times,respiratory_support,oxygen_inhalation,dischargeDay,Admission_date,...,death_within_28_days,re_admission_within_28_days,death_within_3_months,re_admission_within_3_months,death_within_6_months,re_admission_within_6_months,time_of_death__days_from_admission,readmission_time_days_from_admission,return_to_emergency_department_within_6_months,time_to_emergency_department_within_6_months
0,857781,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,11,2017-01-24,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
1,743087,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,8,2017-05-05,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2,866418,Home,Cardiology,NonEmergency,Cardiology,2,NaN,OxygenTherapy,5,2016-11-18,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
3,775928,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,11,2017-10-02,...,0,1,0,1,0,1,NaN,19.0,1.0,19.0
4,810128,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,5,2019-11-17,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,740689,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,5,2016-02-07,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2004,734280,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,8,2017-03-29,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2005,781004,HealthcareFacility,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,14,2018-01-22,...,0,0,0,1,0,1,NaN,76.0,1.0,76.0
2006,744870,Unknown,Cardiology,NonEmergency,Cardiology,1,IMV,OxygenTherapy,1,2019-11-27,...,1,0,1,0,1,0,1.0,NaN,0.0,NaN
2007,791864,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,6,2017-02-17,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN

In [13]:
response= pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='PatientHistory')
card= pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='CardiacComplications')
response
card

,inpatient_number,NYHA_cardiac_function_classification,Killip_grade,myocardial_infarction,congestive_heart_failure,peripheral_vascular_disease,type_of_heart_failure,LVEF,left_ventricular_end_diastolic_diameter_LV,mitral_valve_EMS,mitral_valve_AMS,EA,tricuspid_valve_return_velocity,tricuspid_valve_return_pressure
0,857781,3,3,0,0,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,743087,3,1,0,0,0,Both,NaN,40.0,1.16,1.52,NaN,3.34,47.0
2,866418,2,2,0,0,0,Both,NaN,46.0,0.84,0.12,7.00,2.80,32.0
3,775928,3,2,0,0,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,810128,3,2,0,0,0,Both,NaN,64.0,1.20,0.90,1.33,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,740689,4,1,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,734280,4,2,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,2.78,NaN
2005,781004,3,1,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,744870,4,4,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,791864,3,1,0,1,0,Left,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data_file=('Cardiac_Outcomes.xlsx')
all_sheets=pd.read_excel(data_file,sheet_name=None)

Hospital_data=all_sheets['Hospitalization_Discharge']
Cardiac_data=all_sheets['CardiacComplications']
Response_data=all_sheets['Responsivenes']
Patient_data=all_sheets['PatientHistory']
lab_data=all_sheets['Labs']
Demography_data=all_sheets['Demography']
Patientpre_data=all_sheets['Patient_Precriptions']

In [16]:
hospital_data

NameError: name 'hospital_data' is not defined

In [18]:
print(Hospital_data.head(10))

   inpatient_number DestinationDischarge admission_ward admission_way  \
0            857781                 Home     Cardiology  NonEmergency
1            743087                 Home     Cardiology  NonEmergency
2            866418                 Home     Cardiology  NonEmergency
3            775928                 Home     Cardiology     Emergency
4            810128                 Home     Cardiology  NonEmergency
5            823318                 Home     Cardiology  NonEmergency
6            844094                 Home     Cardiology  NonEmergency
7            787530   HealthcareFacility     Cardiology     Emergency
8            795420                 Home     Cardiology  NonEmergency
9            829801                 Home     Cardiology  NonEmergency

  discharge_department  visit_times respiratory_support oxygen_inhalation  \
0           Cardiology            1                 NaN     OxygenTherapy
1           Cardiology            1                 NaN     OxygenTherapy
2           Cardiology            2                 NaN     OxygenTherapy
3           Cardiology            1                 NaN     OxygenTherapy
4           Cardiology            1                 NaN     OxygenTherapy
5           Cardiology            1                 NaN     OxygenTherapy
6           Cardiology            2                 NaN     OxygenTherapy
7           Cardiology            1                 NaN     OxygenTherapy
8           Cardiology            1                 NaN     OxygenTherapy
9           Cardiology            1                 NaN     OxygenTherapy

   dischargeDay Admission_date  ... death_within_28_days  \
0            11     2017-01-24  ...                    0
1             8     2017-05-05  ...                    0
2             5     2016-11-18  ...                    0
3            11     2017-10-02  ...                    0
4             5     2019-11-17  ...                    0
5             6     2017-08-13  ...                    0
6            10     2018-05-22  ...                    0
7            27     2017-09-11  ...                    0
8            20     2017-03-27  ...                    0
9             4     2018-01-30  ...                    0

   re_admission_within_28_days  death_within_3_months  \
0                            0                      0
1                            0                      0
2                            0                      0
3                            1                      0
4                            0                      0
5                            1                      0
6                            0                      0
7                            0                      0
8                            0                      0
9                            0                      0

   re_admission_within_3_months  death_within_6_months  \
0                             0                      0
1                             0                      0
2                             0                      0
3                             1                      0
4                             0                      0
5                             1                      0
6                             0                      0
7                             1                      0
8                             0                      0
9                             0                      0

   re_admission_within_6_months  time_of_death__days_from_admission  \
0                             0                                 NaN
1                             0                                 NaN
2                             0                                 NaN
3                             1                                 NaN
4                             0                                 NaN
5                             1                                 NaN
6                             0                                 NaN
7                             1                                 NaN
8                             0                                 NaN
9                             0                                 NaN

   readmission_time_days_from_admission  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                  19.0
4                                   NaN
5                                  15.0
6                                   NaN
7                                  58.0
8                                   NaN
9                                   NaN

   return_to_emergency_department_within_6_months  \
0                                             0.0
1                                             0.0
2                                             0.0
3                                             1.0
4                                             0.0
5                                             1.0
6                                             0.0
7                                             1.0
8                                             0.0
9                                             1.0

   time_to_emergency_department_within_6_months
0                                           NaN
1                                           NaN
2                                           NaN
3                                          19.0
4                                           NaN
5                                          15.0
6                                           NaN
7                                          58.0
8                                           NaN
9                                           NaN

[10 rows x 21 columns]

In [19]:
print(Response_data.head(5))

   inpatient_number  eye_opening  verbal_response  movement consciousness  GCS
0            857781            4                5         6         Clear   15
1            743087            4                5         6         Clear   15
2            866418            4                5         6         Clear   15
3            775928            4                5         6         Clear   15
4            810128            4                5         6         Clear   15

In [23]:
responsive_pain_count = pd.value_counts(Response_data['consciousness'])['ResponsiveToPain']
print("Count of 'responsive to pain':", responsive_pain_count)

Count of 'responsive to pain': 4

C:\Users\thoma\AppData\Local\Temp\ipykernel_8528\2077445147.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  responsive_pain_count = pd.value_counts(Response_data['consciousness'])['ResponsiveToPain']

In [ ]:
responsive_sound_count =pd.value_counts(Response_data['consciousness'])['ResponsiveToSound']
print("count of responsive to sound:",responsive_sound_count)

In [1]:
ratio=responsive_pain_count/responsive_sound_count
print("patients ratio is:",ratio)

NameError: name 'responsive_pain_count' is not defined

In [1]:
responsive_pain_count = pd.value_counts(Response_data['consciousness'])['ResponsiveToPain']
print("Count of 'responsive to pain':", responsive_pain_count)

NameError: name 'pd' is not defined

In [4]:
#5
import pandas as pd
data_file=('Cardiac_Outcomes.xlsx')
all_sheets=pd.read_excel(data_file,sheet_name=None)

Response_data=all_sheets['Responsivenes']
responsive_pain_count = pd.value_counts(Response_data['consciousness'])['ResponsiveToPain']
print("Count of 'responsive to pain':", responsive_pain_count)

responsive_sound_count =pd.value_counts(Response_data['consciousness'])['ResponsiveToSound']
print("count of responsive to sound:",responsive_sound_count)

ratio=responsive_pain_count/responsive_sound_count
print("patients ratio is:",ratio)

Count of 'responsive to pain': 4
count of responsive to sound: 19
patients ratio is: 0.21052631578947367

C:\Users\thoma\AppData\Local\Temp\ipykernel_14360\1005034562.py:6: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  responsive_pain_count = pd.value_counts(Response_data['consciousness'])['ResponsiveToPain']
C:\Users\thoma\AppData\Local\Temp\ipykernel_14360\1005034562.py:9: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  responsive_sound_count =pd.value_counts(Response_data['consciousness'])['ResponsiveToSound']

In [5]:
#9
import numpy as np
arr1 = np.array([[4, 5],
                    [6, 7]])
arr2 = np.array([[8, 9],
                    [7, 8]])


arr_mul = np.multiply(arr1, arr2)

print(arr_mul)

[[32 45]
 [42 56]]

In [15]:
concated=pd.concat([Hospital_Discharge,Demograph],axis='col')

ValueError: No axis named col for object type DataFrame

In [9]:
import pandas as pd
Hospital_Discharge=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Hospitalization_Discharge')
Demograph=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Demography')
merge=[Hospital_data,Patient_data]
result=pd.concat(frames)
print(result)

In [11]:
Hospital_Discharge
Demograph

,inpatient_number,gender,weight,height,BMI,occupation,ageCat
0,857781,Male,50.0,1.64,18.590125,UrbanResident,69-79
1,743087,Female,51.0,1.63,19.195303,UrbanResident,69-79
2,866418,Male,70.0,1.70,24.221453,farmer,59-69
3,775928,Male,65.0,1.70,22.491349,UrbanResident,69-79
4,810128,Female,76.0,1.55,31.633715,UrbanResident,69-79
...,...,...,...,...,...,...,...
2003,740689,Female,35.0,1.50,15.555556,Others,79-89
2004,734280,Female,50.0,1.55,20.811655,UrbanResident,79-89
2005,781004,Male,75.0,1.70,25.951557,UrbanResident,39-49
2006,744870,Male,40.0,1.50,17.777778,UrbanResident,49-59
2007,791864,Female,45.0,1.55,18.730489,UrbanResident,79-89